<div
  class="modal fade"
  id="upload-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="exampleModalLabel">
          Upload New Syllabus
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white btn-light"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        enctype="multipart/form-data"
        action="/upload-book"
        id="add-book-form"
        class="modal-body"
        method="POST"
      >
        <div class="mb-3">
          <label for="title-input" class="form-label text-light"
            >Enter Title</label
          >
          <input
            name="title"
            type="text"
            class="form-control bg-dark text-light"
            id="title-input"
            placeholder="Enter book title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="author-input" class="form-label text-light"
            >Author's full name</label
          >
          <input
            name="author"
            type="text"
            class="form-control bg-dark text-light"
            id="author-input"
            placeholder="Enter Book Title"
            required
          />
        </div>
        <div class="mb-3">
          <select
            name="yearStudy"
            id="year-study-input"
            class="mb-3 form-select bg-dark text-light"
            required
          >
            <option value="" disabled selected hidden>
              Please Select Year of Study
            </option>
            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="Final Year">Final Year</option>
          </select>
        </div>
        <div class="md-3">
          <select
            name="category"
            id="category-input"
            class="mb-3 form-select bg-dark text-light"
            required
          >
            <option value="" disabled selected hidden>
              Please Select Category
            </option>
            <% categories.forEach(element => { %>
            <option value="<%= element %>"><%= element %></option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3">
          <label class="text-light" style="padding-bottom: 10px">
            Select Language
          </label>
          <div class="form-check">
            <input
              name="language"
              type="radio"
              class="form-check-input bg-dark"
              id="swahili-check"
              autocomplete="off"
              value="Kiswahili"
            />
            <label class="form-check-label text-white" for="swahili-check"
              >Swahili
            </label>
          </div>
          <div class="form-check">
            <input
              name="language"
              type="radio"
              class="form-check-input bg-dark"
              id="french-check"
              autocomplete="off"
              value="Français"
              Checked
            />
            <label class="form-check-label text-white" for="french-check">
              French
            </label>
          </div>
          <div class="form-check">
            <input
              name="language"
              type="radio"
              class="form-check-input bg-dark"
              id="english-check"
              autocomplete="off"
              value="English"
            />
            <label class="form-check-label text-white" for="english-check"
              >English</label
            >
          </div>
        </div>
        <div class="mb-3 form-group">
          <label class="text-light" for="exampleFormControlTextarea2"
            >Book Summary</label
          >
          <textarea
            name="description"
            class="form-control rounded-0 bg-dark text-light"
            id="description-input"
            rows="3"
            placeholder="Type here (250 words)"
            maxlength="1250"
            required
          ></textarea>
        </div>
        <div class="mb-3 form-group">
          <label for="image-file" class="form-label text-light"
            >Select Book Poster Image</label
          >
          <input
            name="thumbnail"
            class="form-control bg-dark text-light"
            type="file"
            id="image-file"
            accept=".png,.jpeg,.jpg,.psd"
            required
          />
        </div>
        <div class="mb-3 form-group">
          <label for="binary-file" class="form-label text-light"
            >Select File (.pdf .txt)</label
          >
          <input
            name="bookUrl"
            class="form-control bg-dark text-light"
            type="file"
            id="binary-file"
            accept=".pdf,.txt"
            required
          />
        </div>
      </form>
      <div class="modal-footer">
        <progress value="0" id="uploader" max="100">0%</progress>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <input
          type="submit"
          form="add-book-form"
          class="btn btn-light"
          id="submit-upload-form"
        />
      </div>
    </div>
  </div>
</div>
