<!DOCTYPE html>
<html lang="en">
  <%- include('partials/headers.ejs') %>
  <body class="bg-dark">
    <%- include('partials/navigationBar.ejs') %> <%-
    include('partials/uploadForm.ejs') %>
    <section class="fillWidthSection">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/good-faces-DSj40n6beGk-unsplash.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-1">Display 1</h1>
              <h1>
                Some representative placeholder content for the first slide.
              </h1>
            </div>
            ins
          </div>
          <div class="carousel-item">
            <img
              src="images/lagos-techie-IgUR1iX0mqM-unsplash.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-1">Display 2</h1>
              <h1>
                Some representative placeholder content for the first slide.
              </h1>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="images/felipe-gregate-Ph2KD5qr7VQ-unsplash.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-1">Display 3</h1>
              <h1>
                Some representative placeholder content for the first slide.
              </h1>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <div class="container book-container">
      <p
        class="h1 text-white"
        style="padding: 10px; border: 1px solid white; margin-bottom: 15px"
      >
        All Available
      </p>
      <div class="row align-items-center">
        <%- include("partials/bookPoster.ejs") %>
      </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <p class="text-dark">
          All Rights Reserved. All book publications are school property.
          Copying and publishing books is prohibited.
        </p>
      </div>
      <!-- Copyright -->
    </footer>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
